@model BrightIdeas.Models.Post
<link rel="stylesheet" href="~/css/ideas.css"/>

<header>
    <h5>Hi @ViewBag.User.alias!</h5>
    <a href="/logout">Logout</a>
</header>
@{
    if(ViewBag.Errors != null){
        <span style="color:red">@ViewBag.Errors</span>
    }
}
<form id="newPost" asp-action="Post" asp-controller="Ideas" method="post">
    <p>
        <textarea asp-for="content" placeholder="Post something witty here!" cols="100" rows="10"></textarea>
        <input type="submit" value="Idea!">
    </p>
</form>

@{
    foreach(var post in @ViewBag.posts){
        <div class = "posts">
            <div class ="post">
                <a href="/users/@post.user.id">@post.user.alias</a> says:
                <p>@post.content</p>
            </div>
            <div class="options">
                 @{
                    if(ViewBag.User.id == post.user.id)
                    {
                        <form class="delete" action="/delete" method="POST">
                            <input type="hidden" name="post_id" value="@post.id">
                            <input type="submit" value="Delete">
                        </form>
                    }
                }
                <div class="likes">
                    @{
                        bool check = false;
                        if(ViewBag.User.id == post.user.id){
                            check = true;
                        }
                        else{
                            foreach(var like in post.likes){
                                if(like.user_id == ViewBag.User.id){
                                    check = true;
                                }
                            } 
                        }
                        if(check == false){
                            <a href="/like/@post.id">Like</a>
                        }    
                    }
                    <p class="like"><a href="/bright_ideas/@post.id">@post.likes.Count</a> users like this</p>
                </div>
            </div>
        </div>
    }
}
