<link rel="stylesheet" href="~/css/user.css"/>

<nav>
    <a href="/logout">Logout</a>
    <a href="/bright_ideas">Bright Ideas</a>
</nav>

<div>
    <h5>Name: @ViewBag.User.name</h5>
    <h5>Alias: @ViewBag.User.alias</h5>
    <h5>Email: @ViewBag.User.email</h5>    
</div>

<div>
    <p>Number of Posts: @ViewBag.numPosts</p>
    <p>Number of Likes: @ViewBag.numLikes</p>
</div>